 <h2>Add New Post</h2>

 <p>
	 <form method="POST" action="/new" role="form">
	   
	   <label for = "author">Your Name:</label><br/>
	   <input class="form-control" style="width: 400px;" type="text" name="author" id="author" placeholder = "Type Your Name..." value="<%=@author%>"><br/>

		<textarea name="content" style="width: 400px;" class="form-control" rows="6" placeholder="Add Post Here..." ><%=@content%></textarea>
	
	    <br/><button type="submit" class="btn btn-primary">Submit</button>
	
	</form>

</p>



