 <h2>Add New Post</h2>

 <p>
	 <form method="POST" action="/new" role="form">
	
		<textarea name="content" style="width: 400px;" class="form-control" rows="6" placeholder="add text here..."></textarea>
	
	    <br/><button type="submit" class="btn btn-primary">Submit</button>
	
	</form>

</p>



